<div class="container" id="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Corona Live Казахстан</a>
      </li>
    </ul>
  </nav>
  <hr class="mt-0">
  <div class="p-3 shadow bg-white rounded">
    <div class="row  text-center">
      <div class="col-3 p-0">
        <h3>1641</h3>
        <p class="text-secondary"><small>На стац. карантине</small></p>
      </div>
      <div class="col-3 p-0">
        <h3>981</h3>
        <p class="text-secondary"><small>На дом. карантине</small></p>
      </div>
      <div class="col-2 p-0">
        <h3 class="font-weight-bold">9</h3>
        <p class="text-secondary"><small>Выявлено</small></p>
      </div>
      <div class="col-2 p-0">
        <h3 class="text-danger font-weight-bold">0</h3>
        <p class="text-secondary"><small>Умерло</small></p>
      </div>
      <div class="col-2 p-0">
        <h3 class="text-success font-weight-bold">0</h3>
        <p class="text-secondary"><small>Вылечено</small></p>
      </div>
    </div>
  </div>
</div>
<div class="container" id="body">
  <div class="shadow p-3 bg-white rounded mt-3">
    <div class="row px-3">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Алматы <span class="badge badge-secondary">7</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Нур-Султан <span class="badge badge-secondary">2</span></a>
        </li>
      </ul>
    </div>
    <hr class="mb-0">
    <div class="scrollable">
      
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">2 часа назад <span class="badge badge-primary">Акимат Нур-Султана</span></p></div>
          <h5 class="card-title">Деятели культуры и спорта Нур-Султана призвали граждан сплотиться в борьбе с коронавирусом</h5>
          <p class="card-text">Деятели культуры, спорта и представители интеллигенции поддержали обращение Президента Республики Казахстан Касым-Жомарта Токаева и ...</p>
          <a href="http://astana.gov.kz/ru/news/news/21964" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">2 часа назад <span class="badge badge-primary">Акимат Алматы</span></p></div>
          <h5 class="card-title">Об эпидемиологической ситуации по коронавирусу на 10.00 час. 16 марта 2020 г в Казахстане</h5>
          <p class="card-text">На сегодняшний день в стране подтверждены 9 случаев регистрации коронавируса, их них в г. Алматы – 7 случаев, г. Нур-Султан – 2 случая.</p>
          <a href="https://almaty.gov.kz/page.php?page_id=4099&lang=1&news_id=17057" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">3 часа назад <span class="badge badge-primary">Акимат Алматы</span></p></div>
          <h5 class="card-title">О текущей санитарно-эпидемиологической ситуации в Алматы в связи с коронавирусом на 16 марта, 12:00</h5>
          <p class="card-text">Региональный штаб по противодействию распространения коронавируса сообщает, что в городе Алматы на 16.03.2020 зарегистрировано 7 лабораторно-подтвержденных случая заражения коронавирусной инфекцией.</p>
          <a href="https://almaty.gov.kz/page.php?page_id=4099&lang=1&news_id=17058" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">6 часов назад <span class="badge badge-info">МинЗдрав РК</span></p></div>
          <h5 class="card-title">Об эпидемиологической ситуации по коронавирусу на 10.00 час. 16 марта 2020 г в Казахстане</h5>
          <p class="card-text">На сегодняшний день в стране подтверждены 9 случаев регистрации коронавируса, их них в г. Алматы – 7 случаев, г. Нур-Султан – 2 случая. На стационарном карантине – 1641 человек, на домашнем карантине – 981 человек.</p>
          <a href="http://www.gov.kz/memleket/entities/dsm/press/news/details/ob-epidemiologicheskoy-situacii-po-koronavirusu-na-1000-chas-16-marta-2020-g-v-kazahstane?lang=ru" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">1 день назад <span class="badge badge-secondary">Новость</span></p></div>
          <h5 class="card-title">У работавшего в здании Halyk Bank консультанта обнаружен коронавирус</h5>
          <p class="card-text">Halyk Bank выпустил сообщение, в котором информирует общественность, что один из выявленных случаев заражения коронавирусом COVID-19 приходится на сотрудника внешней организации ...</p>
          <a href="https://www.zakon.kz/5011669-u-rabotavshego-v-zdanii-halyk-bank.html" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">1 день назад <span class="badge badge-info">МинЗдрав РК</span></p></div>
          <h5 class="card-title">Об эпидемиологической ситуации по коронавирусу на 20:15 15 марта 2020 года</h5>
          <p class="card-text">Зарегистрирован еще 1 случай коронавируса в Казахстане, в г. Алматы.</p>
          <a href="http://www.gov.kz/memleket/entities/dsm/press/news/details/ob-epidemiologicheskoy-situacii-po-koronavirusu-na-2015-15-marta-2020-goda?lang=ru" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">1 день назад <span class="badge badge-secondary">Новость</span></p></div>
          <h5 class="card-title">У работавшего в здании Halyk Bank консультанта обнаружен коронавирус</h5>
          <p class="card-text">Halyk Bank выпустил сообщение, в котором информирует общественность, что один из выявленных случаев заражения коронавирусом COVID-19 приходится на сотрудника внешней организации ...</p>
          <a href="https://www.zakon.kz/5011669-u-rabotavshego-v-zdanii-halyk-bank.html" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">1 день назад <span class="badge badge-secondary">Новость</span></p></div>
          <h5 class="card-title">Новый случай коронавируса в Казахстане – девочка 12 лет</h5>
          <p class="card-text">Еще одного зараженного выявили в Алматы, сообщает zakon. kz. Это ребенок 2008 года рождения. </p>
          <a href="https://www.zakon.kz/5011663-novyy-sluchay-koronavirusa-v-kazahstane.html" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">1 день назад <span class="badge badge-secondary">Новость</span></p></div>
          <h5 class="card-title">Алматинку с коронавирусом привлекли к уголовной ответственности за отказ предоставить данные о контактах</h5>
          <p class="card-text">АЛМАТЫ. КАЗИНФОМ – Заболевшая коронавирусом женщина в Алматы привлечена к уголовной ответственности за отказ предоставить данные контактировавших с ней людей.</p>
          <a href="https://www.inform.kz/ru/almatinku-s-koronavirusom-privlekli-k-ugolovnoy-otvetstvennosti-za-otkaz-predostavit-dannye-o-kontaktah_a3625190" class="card-link">Источник</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <div><p class="card-text">2 дня назад <span class="badge badge-secondary">Новость</span></p></div>
          <h5 class="card-title">Токаев ввел чрезвычайное положение в Казахстане</h5>
          <p class="card-text">Президент Казахстана Касым-Жомарт Токаев подписал указ о введении в республике чрезвычайного положения, передает корреспондент Tengrinews.kz....</p>
          <a href="https://www.lada.kz/another_news/77821-tokaev-vvel-chrezvychaynoe-polozhenie-v-kazahstane.html" class="card-link">Источник</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>